
POSTGRES_USER=admin_fake_user
POSTGRES_PASSWORD=fake_password_123456789
POSTGRES_DB_AUTH=authdb_fake
POSTGRES_DB_USER=userdb_fake

DATABASE_URL="postgresql://admin_fake_user:fake_password_123456789@diplomathesis-postgres-1:5432/authdb_fake?schema=public"

AUTH_MICROSERVICE_URL=http://localhost:3002
BRIDGE_MICROSERVICE_URL=http://localhost:3003
USER_MICROSERVICE_URL=http://localhost:3004

RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672

JWT_SECRET=THIS_IS_A_VERY_FAKE_JWT_SECRET_DO_NOT_USE
JWT_EXPIRES_IN=1h
REFRESH_TOKEN_SECRET=THIS_IS_A_VERY_FAKE_REFRESH_TOKEN_SECRET
REFRESH_TOKEN_EXPIRES_IN=7d
INTERNAL_SERVICE_KEY=FAKE_INTERNAL_COMMUNICATION_KEY_999

ELEVENLABS_API_KEY="sk_fake_elevenlabs_key_000000000000000000"
WHISPER_MODEL=turbo
